


button {
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

button:before {
    content: '';
    background: linear-gradient(45deg, #bcb8b8,#4dd6b6 50%, #7b7b79,#4dd6b6 50%, #00ffd5, #7a00ff);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.usa-button:active {
    color: #000
}

.usa-button:active:after {
    background: transparent;
}

.usa-button:hover:before {
    opacity: 1;
}

button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
} 
button[type="submit"] {
    padding: 4px 10px;
    border: none;
    border-radius: 2px;
    background: #353535;
    color: #fff;
    font-weight: 800;
    cursor: pointer;
    font-size: 16px;
    content: '';
    border-radius: 5px;

}
 p{
margin-top: 20px;
padding-bottom: 10px;
 }
