@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background: #e1f4eb;
    background-color:#80b39a;
    
    font-family: 'Poppins', sans-serif;
}
.logo {
    width: 100px;

   
}
.text-perso {
    font-size: 9px;
}
span {
    color: rgb(90, 87, 92);
}
.marhaba {
    color:#0a0b0b;
}
.navbar {
    background-color: rgb(7, 7, 7);
}
.started {
    background-color:#030303;
}
.User {
    color:#48ea98;
}
.Login{
    background-color:#48ea98;
}